# Ignore Terraform state files
*.tfstate
*.tfstate.*

# Crash logs
crash.log

# Terraform variable files
*.tfvars
*.tfvars.json

# Ignore sensitive credential files
*.pem
*.key
*.pfx
*.cer

# Terraform override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Directory for Terraform plugins
.terraform/

# Plan output
*.tfplan

# Sensitive environment files
.env
.env.*

# OS-specific clutter
.DS_Store
Thumbs.db

# IDE or editor folders
.vscode/
.idea/
